<style media="screen">
  * {
    font-family: '微软雅黑';
    width: 100%;
    text-align: center;
  }
</style>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<a href="/">返回首页</a>
