<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>121银行网上银行</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="inner-header clear">
        <img src="/img/icon.png" alt="icon" />
        <div class="header-name">
          <div class="title">
            121银行
          </div>
          <div class="title-dec">
            您的财富管理银行
          </div>
        </div>
        <div class="title-e">
          个人网上银行
        </div>
      </div>
    </header>
    <main>
      <div class="inner-main">
        <div class="login">
          <div class="inner-login">
            <div class="login-title">
              用户登录
            </div>
            <div class="login-list">
              <ul>
                <li class="li-title">用户名：</li>
                <li class="input">
                  <p class="contact-input">
                    <input type="text" id="name" name="name" value="">
                  </p>
                </li>
                <li class="li-title">密码：</li>
                <li class="input">
                  <p class="contact-input">
                    <input type="password" id="password" name="name" value="">
                  </p>
                </li>
                <li class="li-title">验证码：</li>
                <li class="input clear">
                  <p class="contact-input captcha">
                    <input type="text" id="input-captcha" name="captcha" value="" maxlength="4">
                  </p>
                  <a class="captcha-area"><img class="captcha-png" src="/captcha.png" />看不清楚？</a>
                </li>
                <li class="input">
                  <input type="button" class="login-btn" id="login" name="login" value="登录">
                </li>
                <li class="li-title">
                  <a class="to-reg" href="/register">还没注册？</a>
                </li>
                <li>
          				<% if (message) { %>
          				  <div class="msg"><%= message %> </div>
          				<% } %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="notice clear">
          <div class="inner-notice">
            <div class="notice-title">
              温馨提示:
            </div>
            <p>
              <span>1、</span><span class="span-content">尊敬的客户，使用我行网银表示您已知晓并遵守 <a href="#">《121银行股份有限公司个人电子银行服务协议》</a> 、 <a href="#">《121银行股份有限公司个人电子银行交易规则》</a> ，请点击“登录”进入121银行个人网上银行。 </span><br />
              <span>2、</span><span class="span-content">若您是新用户，请  <a href="/register">注册</a>，按其中的步骤完成网银用户名和登录密码的设置。</span>
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <span>121银行版权所有，未经许可不得转载，联系电话：12345 @2016 </span>
    </footer>
    <!-- Jquery -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	  <script src="http://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
