<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/log.css">
  </head>
  <body>
    <div class="logList">
      <div class="tel">
        <div class="tel-title">
          用户日志
        </div>
        <div class="tel-content">
          <table class="full-table">
            <tbody>
              <% for(var i=0;i<docs.length;i++){ %>
                <tr>
                  <td><%=docs[i].date %></td>
                  <td><%=docs[i].name %></td>
                  <td><%=docs[i].trueName %></td>
                  <td><%=docs[i].method %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="query">
      <div class="tel">
        <div class="tel-title">
          用户信息查询
        </div>
        <div class="tel-content">
          <div class="tel-opt">
            <input class="queryName" type="text" name="name" value="" placeholder="用户名">
            <button class="quebutton button" type="button" name="button">查询</button>

            <input class="querytrueName" type="text" name="trueName" value="" placeholder="真实姓名">
            <button class="quetrueName button" type="button" name="button">查询</button>
          </div>
          <table class="result">
            <tbody>
              <tr>
                <th>银行卡号：</th>
                <td class="cardID">

                </td>
              </tr>
              <tr>
                <th>用户名：</th>
                <td class="name">
                </td>
              </tr>
              <tr>
                <th>密码:</th>
                <td class="password">
                </td>
              </tr>
              <tr>
                <th>身份证号：</th>
                <td class="id">
                </td>
              </tr>
              <tr>
                <th>真实姓名：</th>
                <td class="trueName">
                </td>
              </tr>
              <tr>
                <th>头像：</th>
                <td class="headUrl">
                </td>
              </tr>
              <tr>
                <th>注册日期：</th>
                <td class="regDate">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <span>121银行版权所有，未经许可不得转载，联系电话：12345 @2016 </span>
    </footer>
    <!-- Jquery -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	  <script src="http://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/js/log.js"></script>
  </body>
</html>
