/*
Designed By xiao555
2016/5
 */

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}
html * {
	position: relative;
	font-family: "微软雅黑";
}

a {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

input,
button,
select,
textarea {
	outline:none;
}

.clear:after {
	content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*header*/

header {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;/*解决子div影响父div的margin属性*/
}

.inner-header {
	position: relative;
	margin: 10px 10%;
}

.inner-header img {
	height: 100px;
	margin-left: 100px;
	float: left;
}

.header-name {
	margin-left: 20px;
	float: left;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.title {
	line-height: 60px;
	font-size: 30px;
	border-bottom: 1px solid;
	letter-spacing: 5px;
}

.title-dec {
	font-size: 12px;
	font-style: italic;
	letter-spacing: 3px;
}

.title-e {
	margin-top: 35px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 20px;
	border-left: 2px solid;
	padding-left: 20px;
	font-size: 20px;
}

/*main*/
main {
	position: relative;
	width: 100%;
}

.inner-main {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.login {
	position: relative;
	width: 100%;
	height: 382px;
	margin: 0 auto;
	background: url(/img/121.jpg) 50% 0 no-repeat #f9f9f9;
}

.inner-login {
	width: 326px;
	height: 332px;
	margin-top: 30px;
	margin-right: 80px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	float: right;
	color: #fff;
}

.login-title {
	height: 35px;
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
.login-list {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.login-list ul .li-title {
	margin: 5px 0;
	font-size: 12px;
}

.contact-input {
	padding: 3px 0 3px 3px;
	margin-left: 3px;
	background-color: #fff;
}

.contact-input input {
	width: 100%;
	border: none;
}

.captcha {
	width: 65px;
	float: left;
}

.captcha-area {
	margin-left: 10px;
	display: block;
	float: left;
	font-size: 12px;
  opacity: .8;
	text-decoration: underline;
  color: #adc5df;
}

.captcha-png {
	margin-right: 5px;
	height: 25px;
	background-color: #fff;
}

.login-btn {
	width: 100%;
	margin-top: 20px;
	background-color: red;
	border: none;
	color: #fff;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
}

.to-reg {
	font-size: 14px;
  opacity: .8;
	text-decoration: underline;
  color: #adc5df;
}

.to-reg:hover {
	opacity: 1;
	color: #fff;
}

.msg{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

/*notice*/
.notice {
	width: 100%;
}

.inner-notice {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.notice-title {
	color: #3318f9;
}
.notice span {
	float: left;
	display: inline-block;
}

.notice span a {
	color: #3318f9;
}
.notice span a:hover {
	text-decoration: underline;
}
.span-content {
	width: 95%;
}

/*footer*/
footer {
	position: relative;
	margin-top: 20px;
	height: 50px;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #e6e3fa;
}

footer span {
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
	color: #818181;
}
